<p id="notice"><%= notice %></p>

<h1>To-Do List</h1>

<table>
  <thead>
    <tr>
      <th>Reminder</th>
      <th>Due</th>
      <th>Created at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reminders.each do |reminder| %>
      <tr>
        <td><%= reminder.reminder %></td>
        <td><%= reminder.due.strftime("%x @ %r") %></td>
        <td><%= reminder.created_at.strftime("%x @ %r") %></td>
        <td><%= link_to 'Show', reminder %></td>
        <td><%= link_to 'Edit', edit_reminder_path(reminder) %></td>
        <td><%= link_to 'Done (Delete)', reminder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reminder', new_reminder_path %>

