<p id="notice"><%= notice %></p>

<p>
  <strong>Your Reminder:</strong><br>
  <%= @reminder.reminder %>
</p>

<p>
  <strong>Due:</strong>
  <%= @reminder.due.strftime("%x @ %r") %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @reminder.created_at.strftime("%x @ %r") %>
</p>

<%= link_to 'Edit', edit_reminder_path(@reminder) %> |
<%= link_to 'Back', reminders_path %>
