<p id="notice"><%= notice %></p>

<p>
  <strong>Reminder:</strong>
  <%= @reminder.reminder %>
</p>

<p>
  <strong>Due:</strong>
  <%= @reminder.due %>
</p>

<p>
  <strong>Created:</strong>
  <%= @reminder.created %>
</p>

<%= link_to 'Edit', edit_reminder_path(@reminder) %> |
<%= link_to 'Back', reminders_path %>
