<p id="notice"><%= notice %></p>

<div class="reminder_container">
  <div class="reminder_container-top">
    <span class="due_at"><strong>Due:</strong></span> <%= @reminder.due.strftime("%x @ %r") %><br>
    <span class="created_at"><strong>Created at:</strong></span> <%= @reminder.created_at.strftime("%x @ %r") %>
  </div>
  <div class="reminder_container-bottom">
    <%= simple_format h @reminder.reminder %>
  </div>
  <div class="reminder_container-menu">
    <%= link_to 'Edit', edit_reminder_path(@reminder) %> | <%= link_to 'Back', reminders_path %>
  </div>
  <div class="reminder_container-update">
    <span class="updated_at"><strong>Last updated:</strong></span> <%= @reminder.updated_at.strftime("%x @ %r") %>
  </div>
</div>