<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/css?family=News+Cycle" rel="stylesheet">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="page-content">
  <h1 class="center" id="page-title"><%= link_to 'To-Do on Rails', root_path %></h1>
  <div class="center"><%= link_to 'New Reminder', new_reminder_path %></div>

  <%= yield %>

</div>

<div class="center">
  <%= link_to 'Sign-Up', signup_path %> | 
  <%= link_to 'Help', help_path %> | 
  <%= link_to 'About', about_path %>
</body>
</html>
